node_modules

# Next.js
.next/
out/
.env*.local
server_debug.log
next_server.log
ngrok_output.log
trello_debug.log

# Sentry Config File
.env.sentry-build-plugin

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
